body {
	background-color: royalblue;
}

.navbar {
	background-image: url("../images/b_header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.navbar-brand, .navbar-nav li a {
	line-height: 200px;
	height: 425px;
	padding-top: 0;
	font-style: zapfino;
	font-size: 20px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus,
	.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: transparent;
}