<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<img src="images/pool.jpeg" class="col-xs-12" />
		</div>
		<div class="col-xs-6">
			<h3>Wellness</h3>
			<p>"Find your balance and recharge your batteries: balanced
				menus, fitness centre, swimming pool, wellness centre, terrace,
				gardens. At FourSeasons, there are many options for an invigorating
				or a relaxing break."</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<h3>Restaurant</h3>
			<p> Type of cuisine : International
				<br>
				"Entertain your palate at FourSeasons. Enjoy a range of local and 
				international cuisine, simple yet authentic, in a casual setting. 
				Whether you want to eat or simply have a drink, our restaurant has 
				that extra something you can only find at Novotel."</p>
		</div>
		<div class="col-xs-4">
			<img src="images/restaurant.jpeg" class="col-xs-12" />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<img src="images/meeting.jpeg" class="col-xs-12" />
		</div>
		<div class="col-xs-6">
			<h3>Meetings & Events</h3>
			<p>"Facilities, high-tech equipment, advice and much more. FourSeasons has 
			considerable and extensive expertise in organising meetings. All our teams 
			are responsive to your needs and strive to guarantee successful and 
			professional meetings."</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<h3>Rooms</h3>
			<p>"What if well-being lies in the minute details of your bedding? Lay your 
			head on the "smart pillow" and discover comfort that completely conforms to 
			your desires. Then add a duvet that is as warm as it is light, and envelop 
			yourself in the pure enjoyment of eco-designed LIVE N DREAM comfort bedding."</p>
		</div>
		<div class="col-xs-4">
			<img src="images/room.jpeg" class="col-xs-12" />
		</div>
	</div>
	<div class="row" ng-include="'templates/footer.html'"></div>
</div>