@CHARSET "ISO-8859-1";

body {
	background-color: #999999;
}

#appContainer {
	background-color: #989898;
	margin: 0px;
}

.navbar {
	background-image: url("images/b_header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.navbar-brand, .navbar-nav li a {
	line-height: 100px;
	height: 275px;
	padding-top: 0;
	font-style: zapfino;
	font-size: 17px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus,
	.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: transparent;
}

#myCarousel {
	margin: auto;
	width: 100%;
	padding-left: 100px;
}

.modal-footer {
	border-top: 0px;
}

body {
	padding-top: 20px;
	padding-bottom: 20px;
}

h1, .col-sm-12.well {
	width: 83%;
}

#map {
	width: 500px;
	height: 400px;
}